<div id="wrapper">
  <p>
    <h3>
      测试页面: <%= link_to '创建设备', new_device_path, html_options = { :style => "color:blue" }%>, <%= link_to '查看所有设备', devices_list_path, html_options = { :style => "color:blue" } %>
    </h3> 
  </p>
</div>