<div class="container">
  <p>
    Andorid 配置程序
    <%= link_to "下载", '\sdk\android\jimupai.apk', style: 'color:blue' %>
  </p>
  <p>
    Andorid 配置程序 V1.1
    <%= link_to "下载", '\sdk\android\jimupai_v1_1.apk', style: 'color:blue' %>
  </p>
  <p>
    Andorid 配置程序 V1.2
    <%= link_to "下载", '\sdk\android\jimupai_v1_2.apk', style: 'color:blue' %>
  </p>
  
</div>