<div class="container">
  <span>通道 - <%= @channel.channel_name %></span>
  <div id="chart_area" style="width: 60%; height: 400px; margin: 0 auto">

  </div>
  <script type="text/javascript" src="/js/libs/charts/highcharts.js"></script>
  <script type="text/javascript">
    $(document).ready( function() {        
      var chart_area= new Highcharts.Chart({
        chart: {
          type: 'line',
          renderTo: 'chart_area'
        },
        title: {
            text: '',
            x: -20 //center
        },
        subtitle: {
            text: '',
            x: -20
        },
        xAxis: {
          title: {
            text: '时间'
          },
          //linear" or "datetime"
          type: 'datetime',
          //坐标间隔
          //tickPixelInterval: 200
        },
        yAxis: {
          title: {
              text: '数值'
          },
          plotLines: [{
              value: 0,
              width: 1,
              color: '#808080'
          }]
        },
        tooltip: {
            valueSuffix: ''
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
          name: '通道',
          //data: <%= @data_points %> 
          data: [[2015-08-21 16:55:40, 20], [2015-08-21 16:55:42, 30]]
        }]
      });
    });
  </script>
</div>