<div class="container">
  <span>通道 - <%= @channel.devicechannel.name %></span>
  <span id="last_seq" style="display:none">0000</span>
  <span id="channel_id" style="display:none"><%= @channel.id %></span>
  <div id="chart_area" style="width: 60%; height: 400px; margin: 0 auto">

  </div>
</div>