<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <!-- <li class="active"><a href="<%= front_profile_path %>">个人中心 <span class="sr-only">(current)</span></a></li> -->
    <li><a href="<%= front_profile_path %>">个人中心 <span class="sr-only">(current)</span></a></li>
<!--     <li><a href="<%#= front_new_device_path %>">创建设备</a></li>
    <li><a href="<%#= front_new_channel_path %>">创建通道</a></li> -->
    <li class="active"><a href="<%= front_show_chart_path %>">图形分析</a></li>
  </ul>
</div>