<p>
  <%= @device.device_id %>
  <%= link_to "查看", dmodel_device_channels_show_path(@device), class: 'label label-primary' %>
</p>
<p>
  <span id="dev_status" class="label label-info">正在连接...</span>
  <span id="dev_status_update"></span>
</p>
<script type="text/javascript">
  $(document).ready(function(){
    var check_seconds = 5000;
    var timeout = 1200 * 1000;
    var last_update_time = "0:0:0";

    function removeclass() {
      $("span#dev_status").removeClass('label label-success label-info label-danger');
    }

    function checkstatus(){
      var url = "<%= apibase_onlinestatus_path( @device.id ) %>"
      // var failTime;
      $.ajax({
        type: 'GET',
        url: url,
        data: [],
        success: function(result){
          var retJson = jQuery.parseJSON(result);
          // var retJson = result;
          console.log(retJson);
          var suc = retJson['code'];
          var update = retJson['updated_at'];          
          if( suc == 'true' ) {
            // removeclass();
            $("span#dev_status").text('在线').removeClass('label label-success label-info label-danger').addClass('label label-success');
            last_update_time = update;
          } else {
            var last_seconds = parseInt( last_update_time.split(":")[2] );
            var latest_seconds = parseInt( update.split(":")[2] );
            if ( latest_seconds - last_seconds > 5 || latest_seconds - last_seconds < -5 ) {
              // removeclass();
              $("span#dev_status").text('断开').removeClass('label label-success label-info label-danger').addClass('label label-danger');
            }
          }
          $("span#dev_status_update").text(update).addClass('label label-default');
        },
        error: function(result){
          console.log("Error: " + result);
        }
      });
    }

    var h = setInterval( checkstatus, check_seconds );
    setTimeout( function() { clearInterval(h); reset(); }, timeout)
  });
</script>