<%= render partial: 'front/common/nav_bar' %>

<div class="container-fluid">
  <div class="row">
    <%= render partial: 'front/common/nav_left_device_summary' %>
    <%= render partial: 'dmodel/common/device_enable_channels' %>
  </div>
</div>
