<script type="text/javascript" src="/js/libs/charts/highcharts.js"></script>

<div>
  <button id="chart_test_button">click me</button>
  <p id="chart_test_words" style="display:none">This is test text!</p>
</div>

<div id="chart_test_container">
</div>

<div id="container02" style="width:400px;hight:200px"></div>
<div id="container03" style="min-width: 310px; height: 400px; margin: 0 auto"></div>